#fond_carte{
	width: 650px;
}

#fond_carte img{
	position: relative;
	float:left;
	top: 0px;
}

.beacon_circle:hover
{
	background-color: #A91010;
	-webkit-transition: background-color 0.7s; /* Safari */
    transition: background-color 0.7s;
}

.beacon_circle
{
	background-color: red;
	-webkit-transition: background-color 0.7s; /* Safari */
    transition: background-color 0.7s;
}

.tooltip_circle
{
	display: none;
	opacity: 0;
	-webkit-transition: opacity 0.7s; /* Safari */
    transition: opacity 0.7s;
}

.beacon_circle:hover>.tooltip_circle
{
	display: block;
	position:absolute;
	top: 40%;
	left: 75px;
	width: 200px;
	color: black;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
	opacity: 0.95;
	-webkit-transition: opacity 0.7s; /* Safari */
    transition: opacity 0.7s;

}

.nav-justified{
	background-color: #10607B;
	margin:0
}

.navbar-brand{
	color:#FFFFFF;
	style="font-family:verdana;
}

.navbar-brand:hover{
	color:#000000;
	background-color: #FFFFFF;
}

.navbar-brand:not( :hover){
	color:#FFFFFF;
	background-color: #10607B;
}

#titre{
	background-color: #2BBAED;
	color:#FFFFFF;
	margin:0;
	padding:1px;
	margin-bottom:20px;
}

footer{
	background:#EE741B;
	color:#FFFFFF;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	text-align:center
}

#deconnexion{
	color:#FFFFFF;
	left:740%;
}

#deconnexion:hover{
	color:#000000;
	background-color: #FFFFFF;
}

#inscription:hover{
	color: #000000 !important;
	background-color: #FFFFFF;
}

#inscription:not( :hover){
	color:#FFFFFF;
	background-color: #10607B;
}

#connexion:hover{
	color: #000000 !important;
	background-color: #FFFFFF;
}

#connexion:not( :hover){
	color:#FFFFFF;
	background-color: #10607B;
}
